@import "tailwindcss";

:root {
  --background: #0F172A;
  --foreground: #0F172A;
  --font-color: "FFFFFF";
  --font-yellow-color: "FF8000";
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

@theme {
  --bg-lading-page: var(--background);
  --color-orange-letters: #FF8000;
  --color-gray-letters: #64748B;
  --color-start-orange-gradient: #F94706;
  --color-end-orange-gradient: #F96D14;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0F172A;
    --foreground: #0F172A;
  }
}

@supports (height: 100dvh) {
  .min-h-dvh {
    min-height: 100dvh;
  }
}

@supports not (height: 100dvh) {
  .min-h-dvh {
    min-height: 100vh;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}

.bg-landing-page{
  background: var(--background);
}

.btn-gradient {
  background: linear-gradient(to right, var(--color-start-orange-gradient), var(--color-end-orange-gradient));
}
